.dark-theme {
    ---background: #171717;
    ---foreground: #FFF;
    ---foreground-filter: invert(95%) sepia(84%) saturate(0%) hue-rotate(187deg) brightness(107%) contrast(100%);;
}

.light-theme {
    ---background: #dadada;
    ---foreground: #000;
    ---foreground-filter: invert(0%) sepia(0%) saturate(18%) hue-rotate(293deg) brightness(95%) contrast(105%);
}

.blue-theme {
    ---background: #4e6275;
    ---foreground: #202c38;
    ---foreground-filter: invert(11%) sepia(14%) saturate(1490%) hue-rotate(168deg) brightness(104%) contrast(88%);
}

.universal {
    ---selected-dot: #fe9902;
}

body {
    background: var(---background);
}

#dial {
    height: 350px;
    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% - 175px);
    animation: rmm 0.7s forwards;
    filter: var(---foreground-filter)
}

button {
    background: #0000;
    border-color: #0000;
}

/* Buttons */
#middlebutton {
    position: absolute;
    width: 60px;
    height: 60px;
}

#rightbutton {
    position: absolute;
    width: 60px;
    height: 60px;
    transform: rotate(0.1turn);
}

#leftbutton {
    position: absolute;
    width: 60px;
    height: 60px;
    transform: rotate(-0.1turn);
}

/* Button Dot */
.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

/* Dot Themes */
.unselected-dot {
    background-color: #0000;
    border: 1px solid var(---foreground) ;
}

.selected-dot {
    background-color: var(---selected-dot);
    border: 1px solid var(---selected-dot);
}

/* Text Themes */
.theme-label {
    color: var(---foreground);
    margin: 0;
}

/* Dial Animations */
@keyframes rmm {
    from { transform: rotate(0turn); }
    to { transform: rotate(0turn);}
}

@keyframes rmr {
    0% { transform: rotate(0turn); }
    65% { transform: rotate(0.12turn); }
    100% { transform: rotate(0.1turn); }
}

@keyframes rml {
    0% { transform: rotate(0turn); }
    65% { transform: rotate(-0.12turn); }
    100% { transform: rotate(-0.1turn ); }
}

@keyframes rlm {
    0% { transform: rotate(-0.1turn); }
    65% { transform: rotate(0.02turn); }
    100% { transform: rotate(0turn); }
}

@keyframes rrm {
    0% { transform: rotate(0.1turn); }
    65% { transform: rotate(-0.02turn); }
    100% { transform: rotate(0turn); }
}

@keyframes rrl {
    0% { transform: rotate(0.1turn); }
    65% { transform: rotate(-0.14turn); }
    100% { transform: rotate(-0.1turn); }
}

@keyframes rlr {
    0% { transform: rotate(-0.1turn); }
    65% { transform: rotate(0.14turn); }
    100% { transform: rotate(0.1turn); }
}

/* Fonts */
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}